body {
    margin: 0px;
    padding: 0px;
}

.site-wrapper {
    display: block;
    overflow: auto;
}

.info-tabs-wrapper {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    width: 90%;
    margin-top: var(--nav-bar-height);
    margin: auto;
    background-color: gray;
}

.information-tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-top: 50%;
    border: 0px solid black;
    border-radius: 0px;
    background-color: white;
}

.information-tab > .info-heading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    border: 0px solid black;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-tab > .info-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    border: 0px solid black;
    overflow: visible;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
}