:root {
    --welcome-logo-width: 35vmax;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #5ea531;
}

.site-wrapper {
    display: block;
    overflow: auto;
}

.site-content-wrapper {
    width: 100%;
    margin-top: var(--nav-bar-height);
}

.welcome-view-wrapper {
    height: calc(100vh - var(--nav-bar-height));
    background: url("../images/main_tab_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.welcome-logo {
    position: relative;
    width: var(--welcome-logo-width);
    height: calc(var(--welcome-logo-width) / 2.5);
    border-radius: 80px;
    background: url("../images/logo.png"), rgba(43, 43, 43, 0.562);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
    left: calc(50% - (var(--welcome-logo-width) / 2));
    top: 30%;
}

.quick-info-wrapper {
    height: calc(100vh - var(--footer-height));
}

.information-tabs {
    font-family: SourceSansPro,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
    background: #26292c;
    padding: 20px 40px;
    margin-bottom: 50px;
}

.information-tabs:hover {
    background: #4a4e53;
}

.information-tabs-top-spacing {
    font-family: SourceSansPro,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,208px);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    grid-auto-rows: 1fr;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
}

.information-tabs-heading {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}