:root {
    --welcome-logo-width: 35vmax;
}

body {
    margin: 0px;
    padding: 0px;
}

.site-wrapper {
    display: block;
    overflow: auto;
}

.site-content-wrapper {
    width: 100%;
    margin-top: var(--nav-bar-height);
}

.welcome-view-wrapper {
    height: calc(100vh - var(--nav-bar-height));
    background: url("../images/main_tab_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.welcome-logo {
    position: relative;
    width: var(--welcome-logo-width);
    height: calc(var(--welcome-logo-width) / 2.5);
    border-radius: 80px;
    background: url("../images/logo.png"), rgba(43, 43, 43, 0.562);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
    left: calc(50% - (var(--welcome-logo-width) / 2));
    top: 30%;
}

.quick-info-wrapper {
    height: calc(100vh - var(--footer-height));
}