:root {
    --nav-bar-height: 4vmax;
}

#navigation-bar {
    position: relative;
    display: flex;
    width: 100%;
    height: var(--nav-bar-height);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    /*
    background: linear-gradient(180deg, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
    */
    float: left;
}

#navigation-bar > .tab-buttons-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

#navigation-bar > .tab-buttons-wrapper > input {
    border: 0px;
    background-color: transparent;
    width: 30%;
    height: 150%;

    font-size: 150%;
    transition: 0.3s;
    border-bottom: 1px transparent;
}

#navigation-bar > .tab-buttons-wrapper > input:hover {
    color: green;
    border-bottom: 1px solid green;
}